#title, .subtitle, .post{
    color: blue;
}

.foto{
    border-radius: 50%;
    
}

.subtitle{
    font-size: 40px;
    font-style: italic;
    text-decoration: line-through;
}

body {
    background-color: aqua;
}

.art {
    background-color: aliceblue;
    padding: 10px;
    border: 3px solid rgba(0, 0, 0, 0.945);
    margin-bottom: 15px;
    border-radius: 5px;
}

.post {
    margin: 0;
    margin-bottom: 15px;
}

.conteudo {
    margin: 0;
    margin-bottom: 15px;
    text-transform: capitalize;
}

.image {
    margin-bottom: 15px;
}

.lista li p{
    color: #505050;
    text-decoration: none;
}

.lista {
    list-style-type: square;
    padding: 15px;
}